{% extends "conjugate/layout.html" %}

{% block title %}
Conjugations
{% endblock %}

<!-- Load global static files -->
{% load static %}

{% block header %}
<meta name="description" content="A free and open source foreign language learning website. Practice conjugating 
the 25 most common verbs in every tense." />
{% endblock %}


{% block main %}

<h1>{{ language }} Conjugation Practice</h1>

<section id="conj-content">
    {% if messages %}
    {% for message in messages %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endif %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}

    {% endfor %}
    {% endif %}

    <ul id="conj-prompt" class="list-group list-group-flush">
        <li class="list-group-item">Tense: {{ randTense }}</li>
        <li class="list-group-item">Subject: {{ randSubj }}</li>
        <li class="list-group-item">Verb: {{ randVerb }}</li>
    </ul>

    <form id="conj-form" action="{% url 'conjugations' lang_id %}" method="post" autocomplete="off">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>

    <div class="back-link"> 
        <a href="{% url 'tenses' lang_id %}">Back to select tenses</a>
    </div>
</section>
{% endblock %}