{% extends "hello/layout.html" %}

{% block title %}
Contact
{% endblock %}

<!-- Load global static files -->
{% load static %}

{% block main %}

<section id="contact-section">
    <h1>Contact</h1>

    <p>
        Hi there! It's Max here, if you have any feature requests or bug reports, please tweet at <a
            href="https://twitter.com/maxwelldemaio">@maxwelldemaio</a>, or feel free to contribute 
            at <a href="https://github.com/maxwelldemaio/langlab">the open source GitHub repository</a>. 
            As an open source project, we are open to new ideas so please feel free to reach out.
    </p>
    
</section>

{% endblock %}