{% extends "hello/layout.html" %}

{% block title %}
Contact
{% endblock %}

<!-- Load global static files -->
{% load static %}

{% block main %}

<section id="contact-section">
    <h1>Contact</h1>

    <p>
        Hi there! It's Max here, 
    </p>
    <p>
        If you have any feature requests or bug reports, please tweet at <a
            href="https://twitter.com/maxwelldemaio">@maxwelldemaio</a>, or feel free to contribute 
            at <a href="https://github.com/maxwelldemaio/langlab">the open source GitHub repository</a>.
    </p>
        
    
</section>

{% endblock %}