<!DOCTYPE html>

<html lang="en">

<head>

    <!-- Load global static files -->
    {% load static %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- https://https://favicon.io/emoji-favicons/test-tube/ -->
    <link rel="icon" href="{% static 'images/lab_icon.png' %}">

    <link rel="stylesheet" href="/static/hello/hello_styles.css">

    <title>LangLab: {% block title %}{% endblock %}</title>

    <!-- Location for JS and other header files -->
    {% block header %}{% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" href="/">
            <img src="{% static 'images/lab_icon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            LangLab
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link active" href="{% url 'conjugate' %}">Conjugation Practice</a>
                <a class="nav-item nav-link active" href="{% url 'resources' %}">Foreign Language Resources</a>
                <a class="nav-item nav-link active" href="{% url 'references' %}">References</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" href="{% url 'contact' %}">Contact/Contribute</a>
            </div>
        </div>
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>

    <div id="footer" class="bg-dark d-flex justify-content-around flex-wrap mt-auto">
        <div><a href="{% url 'conjugate' %}">Conjugation Practice</a></div>
        <div><a href="{% url 'resources' %}">Resources</a></div>
        <div><a href="{% url 'references' %}">References</a></div>
        <div><a href="{% url 'contact' %}">Contact/Contribute</a></div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>